.FixedLayout {
  z-index: 9999;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.leaflet-div-icon {
  background: 0;
  border: none;
}

.map-panel__map-container {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.map-panel__search {
  padding-top: 12px;
  padding-bottom: 0;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.map-panel__emotional-category-avatar .Avatar__in {
  margin-right: 16px;
}

.map-panel__emotional-category-text {
  margin-top: 2px;
  margin-right: 16px;
  font-size: 12px;
  line-height: 14px;
}

.map-panel__emotional-category-avatar img {
  position: absolute;
  background: none;
  left: 50%;
  top: 50%;
  border-radius: 0 !important;
  transform: translate(-50%, -50%);
  max-width: 24px;
  max-height: 24px;
}

.map-panel__emotion-pin {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 3px;
  left: 0px;
  top: 0px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px var(--image_border);
}

.map-panel__emotion-pin img {
  display: block;
}

.map-panel__emotion-pin-20 {
  width: 20px;
  height: 20px;
}

.map-panel__emotion-pin-20 img {
  width: 16px;
  height: 16px;
}

.map-panel__emotion-pin-32 {
  width: 32px;
  height: 32px;
}

.map-panel__emotion-pin-32 img {
  width: 24px;
  height: 24px;
}

.map-panel__quick-emotions {
  position: absolute;
  transition: all 0.75s ease-out;
  left: calc(50vw - 16px);
  top: calc(50vh - 16px);
}

.map-panel__quick-emotions-top--hidden {
  top: -32px !important;
  opacity: 0;
}

.map-panel__quick-emotions-right--hidden {
  left: calc(100vw + 32px) !important;
  opacity: 0;
}

.map-panel__quick-emotions-left--hidden {
  left: -32px !important;
}

.map-panel__quick-emotions-bottom--hidden {
  top: 100vh !important;
  opacity: 0;
}

.map-panel__emotion-select {
  animation: 0.75s fadein;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.map-panel__emotional-category-list-placeholder {
  padding: 32px 0;
  width: 100%;
}

.map-panel__cluster-icon {
  height: 96px;
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
}

.map-panel__cluster-icon img {
  height: 48px;
  width: 48px;
}

.map-panel__cluster-icon-1 {
  height: 32px;
  width: 32px;
}

.map-panel__cluster-icon-1 img {
  height: 24px;
  width: 24px;
}

.map-panel__cluster-icon-2 {
  height: 64px;
  width: 64px;
}

.map-panel__cluster-icon-2 img {
  height: 32px;
  width: 32px;
}

.map-panel__cluster-icon-3 {
  height: 96px;
  width: 96px;
}

.map-panel__cluster-icon-3 img {
  height: 48px;
  width: 48px;
}